In [1]:
import pandas as pd

In [5]:
# Assuming the file is in the current working directory
file_path = "household_power_consumption.txt"
# Adjust the parameters based on the actual structure of your file
df = pd.read_table(file_path, sep=";")
df

/tmp/ipykernel_416782/2002739856.py:4: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_table(file_path, sep=";")

In [6]:
# Display the first few rows of the DataFrame
df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [7]:
import pandas as pd

# Assuming df is your DataFrame
# Replace 'your_file_path.csv' with the desired file path and name
df.to_csv('household_power_consumption.csv', index=False)